[Unit]
Description=Pressure plate zombie noises
After=network.target

[Service]
ExecStart=/usr/bin/python /home/pi/git/halloween/haunted.py
WorkingDirectory=/home/pi
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
